# แนะนำให้ใช้เวอร์ชันที่เสถียรสำหรับ Cloud
tensorflow==2.15.0
numpy>=1.23.5,<2.0.0
streamlit==1.41.0
opencv-python-headless==4.8.1.78
plotly==5.18.0
pandas==2.1.4
pillow==10.2.0
streamlit-webrtc==0.47.5
av==11.0.0